/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 */

/**
 * This uses the background and foreground colors declared in the `theme.json`
 * file and is applied both to the front end and in the block editor.
 */
body {
	@apply bg-background text-foreground font-sans;
}


.slick-slide {
	margin: 0 10px;
}

.slick-list {
	margin: 0 -10px;
}

button.slick-arrow.slick-disabled {
	opacity: .4;
}

.scrollToTopBtn {
	background-color: black;
	border: none;
	color: white;
	cursor: pointer;
	font-size: 18px;
	line-height: 48px;
	width: 48px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 100;
	opacity: 0;
	transform: translateY(100px);
	transition: all 0.5s ease;
}

.showBtn {
	opacity: 1;
	transform: translateY(0);
}